.sm-font {
    font-weight: 400;
    font-size: 1.03rem;
}
.md-font {
    font-weight: 550;
    font-size: 1.03rem;
}
.lg-font {

    font-weight: 400;
    font-size: 1.75rem;
}
.gallery-item {
    position: relative;
    color: white;
    cursor: pointer;
}
